<!DOCTYPE html>
<html>
  <head>
    <title>Lista de usuarios</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        color: #ffffff;
        text-align: center;
        padding: 20px;
      }

      h1 {
        color: #333;
        font-size: 32px;
        margin-bottom: 20px;
      }

      ul {
        list-style: none;
        margin: 0;
        padding: 0;
      }

      li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
        background-color: #597c59;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        padding: 10px;
        opacity: 0.9;
      }

      div {
        display: flex;
        align-items: center;
      }

      span {
        margin-right: 10px;
      }

      form {
        display: flex;
        align-items: center;
      }

      input {
        margin-right: 10px;
        border: none;
        border-radius: 5px;
        padding: 5px 10px;
      }

      button-green {
        background-color: #40b930;
        color: #fff;
        border: none;
        border-radius: 5px;
        padding: 5px 10px;
        cursor: pointer;
      }
      button-red {
        background-color: #b80808;
        color: #fff;
        border: none;
        border-radius: 5px;
        padding: 5px 10px;
        cursor: pointer;
      }
      button {
        background-color: #333;
        color: #fff;
        border: none;
        border-radius: 5px;
        padding: 5px 10px;
        cursor: pointer;
      }

      button:hover {
        background-color: #444;
      }
    </style>
  </head>
  <body>
    <h1>Lista de usuarios</h1>
    <ul>
      <% usuarios.forEach((usuario) => { %>
      <li>
        <div>
          <span><%= usuario.nombre %> <%= usuario.apellido %></span>
          <form action="/eliminarCuenta/<%= usuario.id %>" method="POST">
            <button type="submit">Eliminar</button>
          </form>
        </div>
        <div>
          <form action="/modificarUsuario/<%= usuario.id %>" method="POST">
            <input type="text" name="nombre" placeholder="Nuevo nombre" />
            <input type="text" name="apellido" placeholder="Nuevo apellido" />
            <input type="text" name="correo" placeholder="Nuevo correo" />
            <input
              type="text"
              name="contraseña"
              placeholder="Nueva contraseña"
            />
            <button type="submit">Modificar</button>
          </form>
        </div>
      </li>
      <% }) %>
    </ul>
    <button onclick="window.location.href='/'">Volver</button>
  </body>
</html>
